.userform-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    /* border: 2px solid red; */
}

.userform-container-row{
    width: 90%;
}

.form-control{
    /* width: 100%; */
    padding: 24px;
    /* margin-top: 8px;
    margin-bottom: 8px; */
}

.userform-btn{
    background-color: rgb(55,204,138);
    border-radius: 8px;
    box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.218);
    padding: 16px;
    width: 100%;
}

.userform-btn:hover{
    background-color: rgb(55,204,138);
    border:none;
}

.userform-btn :active{
    background-color: rgb(55,204,138);
    border: none;
    outline: none;
}

.userform-btn:hover,.userform-btn:focus,.userform-btn:active, 
.userform-btn:active:focus:not(:disabled):not(.disabled),
.userform-btn:focus, .userform-btn:active, .userform-btn:hover{
    background-color: rgb(55,204,138);
    /* box-shadow: none!important; */
    outline: 0;
}


.terms{
    color: tomato;
}

.by-clicking{
    color: rgba(128, 128, 128, 0.616);
}

.shake{
    animation: shake 0.2s;
}

@keyframes shake{
    0%{
      transform: translateX(0px)
    }
    10%{
        transform: translateX(4px);
    }
    20%{
      transform: translateX(8px);
    }
    30%{
        transform: translateX(16px);
    }
    40%{
        transform: translateX(8px);
    }
    45%{
        transform: translateX(4px);
    }
    50%{
      transform: translateX(0px);
    }
    60%{
        transform: translateX(-4px);
    }
    70%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(-16px);
    }
    90%{
        transform: translateX(-8px);
    }
    95%{
        transform: translateX(-4px);
    }

    100%{
      transform: translateX(0px);
    }
  }